{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.lieu) }}
    {{ form_row(form.date) }}
    {{ form_row(form.montant) }}
    <hr>
    <table id="tblLignes" border="1" width="600px">
        <thead>
        <tr>
            <th width="20px">&nbsp;</th>
            <th>désignation</th>
            <th width="100px">montant</th>
            <th width="150px">btn</th>
        </tr>
        </thead>
        <tbody>
        {% for ligne in form.lignes %}
            {{ include('AppBundle:Facture:prototypeFactureLigne.html.twig', { 'form': ligne }) }}
        {% endfor %}
        {% for fidelite in form.fidelites %}
            {{ include('AppBundle:Facture:prototypeFactureFidelite.html.twig', { 'form': fidelite }) }}
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-xs" id="btnAjoutLigne">
        Ajouter une ligne
    </button>
    <br>
    <input type="submit">
    <div id="collectionContainerLigne"
         data-prototype="
         {% filter escape %}
             {{ include('AppBundle:Facture:prototypeFactureLigne.html.twig', { 'form': form.lignes.vars.prototype }) }}
         {% endfilter %}">
    </div>
    <div id="collectionContainerFidelite"
         data-prototype="
         {% filter escape %}
             {{ include('AppBundle:Facture:prototypeFactureFidelite.html.twig', { 'form': form.fidelites.vars.prototype }) }}
         {% endfilter %}">
    </div>
    {{ form_widget(form.lignes) }}
    {{ form_widget(form.fidelites) }}
    {{ form_end(form) }}
    <a href="{{ path('facture_liste') }}">retour</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $collectionHolderLigne;

        jQuery(document).ready(function () {
            // Récupère la collection de lignes
            $collectionHolderLigne = $('#collectionContainerLigne');

            // compte le nombre de ligne actuelles pour avoir l'index d'insertion
            $collectionHolderLigne.data('index', $collectionHolderLigne.find(':input').length + {{ form.lignes|length }});

            $('#btnAjoutLigne').on('click', function () {
                // appelle la fonction d'ajout de ligne
                addLigneForm($collectionHolderLigne);
            });
        });

        function addLigneForm($collectionHolderLigne) {
            // Récupération de l'index courant
            var index = $collectionHolderLigne.data('index');

            // contrôle si la ligne précédente contient un minimum de renseignements
            if($("#facture_lignes_" + (index-1) + "_designation").val() == ""){
                // ouvre la modal de la ligne précédente
                $('#btn_modif_facture_lignes_' + (index-1)).click();
                // arrête le processus d'ajout de ligne
                return;
            }

            // Récupération du prototype
            var prototype = $collectionHolderLigne.data('prototype');

            // Remplace '__name__' dans le prototype par l'id courant
            var newForm = prototype.replace(/__name__/g, index);

            // incrémente l'index de 1 pour la ligne suivante
            $collectionHolderLigne.data('index', index + 1);

            // Ajoute la nouvelle ligne
            $('#tblLignes').append(newForm);

            // ouvre la modal de la nouvelle ligne
            $('#btn_modif_facture_lignes_' + index).click();
        }
    </script>
    <script type="text/javascript">
        var $collectionHolderFidelite;

        // setup an "add a fidelite" link
        var $addFideliteLink = $('<a href="#" class="add_fidelite_link">Add a fidelite</a>');

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of fidelites
            $collectionHolderFidelite = $('#collectionContainerFidelite');

            // add the "add a fidelite" anchor and li to the fidelites ul
            $collectionHolderFidelite.append($addFideliteLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolderFidelite.data('index', $collectionHolderFidelite.find(':input').length + {{ form.fidelites|length }});

            $addFideliteLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new fidelite form (see next code block)
                addFideliteForm($collectionHolderFidelite, $addFideliteLink);
            });
        });

        function addFideliteForm($collectionHolderFidelite, $addFideliteLink) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolderFidelite.data('prototype');

            // get the new index
            var index = $collectionHolderFidelite.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolderFidelite.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a fidelite" link li
            $('#tblLignes').append(newForm);
        }
    </script>
{% endblock %}