<tr id="tr_{{ form.vars.id }}">
    <td>
        {% if not form.vars.value == null %}
            F{{ form.vars.name }}
        {% else %}
            F__name__
        {% endif %}
    </td>
    <td>
        <span id="display_{{ form.vars.id }}_compte">
            {% if not form.vars.value == null %}
                {{ form.vars.value.compte.designation }}
            {% endif %}
        </span>
    </td>
    <td>
        <span id="display_{{ form.vars.id }}_montant">
            {% if not form.vars.value == null %}
                {{ form.vars.value.montant }}
            {% endif %}
        </span>
    </td>
    <td>
        <!-- Trigger the modal with a button -->
        <button id="btn_modif_{{ form.vars.id }}" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal_{{ form.vars.id }}">
            Modifier
        </button>
        <button type="button" class="btn btn-danger btn-xs" onclick="$('#tr_{{ form.vars.id }}').remove()">
            Supprimer
        </button>
        <!-- Modal -->
        <div id="modal_{{ form.vars.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_row(form.compte) }}
                        {{ form_row(form.montant) }}
                        {{ form_row(form.categorie) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $('#modal_{{ form.vars.id }}').on('shown.bs.modal', function (e) {
                $('#{{ form.compte.vars.id }}').focus();
            });
            $('#modal_{{ form.vars.id }}').on('hidden.bs.modal', function () {
                $('#display_{{ form.vars.id }}_compte').text($('#{{ form.vars.id }}_compte option:selected').text());
                $('#display_{{ form.vars.id }}_montant').text($('#{{ form.vars.id }}_montant').val())
            });
        </script>
    </td>
</tr>
